* {
	box-sizing: border-box;
}

.container {
	margin: auto;
	max-width: 100%;
	position: relative;
	text-align: center;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: #FAF0CA;  
}

.intro {
	position: relative;
	height: 80vh;
	margin-top: 150px;
}

.graphic {
	max-width: 100%; 
	height: auto;
}

.wrapper-thirds {
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
}

.wrapper-thirds > .column {
	width: 33%;
	margin: 3px 3px 3px 3px;
	padding: 2px 2px 2px 2px;
	background-color: #FFFFFF;
}

.wrapper-thirds > .column > ul > li {
	text-align: left;
}

.messages-wrapper {
	max-width: 100%;
	margin: auto;
}

.message-card > .content { 
	height: 150px;
	overflow: scroll; 
	margin-bottom: 5px;
}

.message-card {
	background-color: #FFFFFF;
	display: inline-block;
	width: 30%;
	height: 200px; 
	margin: 1%;
	padding: 10px 10px 10px 10px; 
}

.message-options {
	width: 100%;
	text-align: center;
}

.no-message-text > h1 {
	color: #F95738;
	text-transform: uppercase;
}

#upvote {
	background-image: url('./upvote.png');
}

#downvote {
	background-image: url('./downvote.png');
}

#forward {
	background-image: url('./forward.png');
}

#delete {
	background-image: url('./delete.png');
}

#vote-counter {
	display: inline-block;
	padding: 5px 5px 5px 5px;
}

.message-button {
	padding: 5px 5px 5px 5px;
	border: 0px solid #F8FFAE;
	border-radius: 3px;
	font-size: 14px;
	transition: all 400ms ease;
	width: 12%;
	height: 24px; 
	display: inline-block;
	background-color: #FFFFFF;
	background-position: center; 
	background-repeat: no-repeat; 
	vertical-align: middle; 
}

a {
	text-decoration: none;
	color: #0D3B66;
}

h1, h2, h3, h4 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	text-transform: lowercase;
}

h1 {
	font-size: 36px;
}

h2 {
	line-height: 28px;
	border-bottom: 2px solid #F95738; 
}

#logo {
	font-size: 24px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800; 
	color: #0D3B66;
	display: inline-block;
}

#navbar {
	margin-bottom: 60px;
}

#navbar ul {
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

#navbar li {
	float: right;
	margin-right: 3px;
}

#navbar li a {
	text-align: center;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
	color: #0D3B66;
}

.nav-items {
	font-size: 12px;
}

.form-overlay {
	background-color: rgba(0,0,0,.25);
	bottom: 0;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	/* support for old browsers */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.popup-wrapper {
	align-self: center;
	background-color: rgba(0,0,0,.25);
	border-radius: 3px;
	padding: 6px;
	width: 50%;
}

.popup-text {
	text-align: center;
	display: inline-block;
	margin: auto;
}

.popup-content {
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 24px;
	position: relative;
	text-align: left;
}

a.close {
	background-color: rgb(204,204,204);
	font-family: 'Courier New', Courier, monospace;
	border-radius: 50%;
	display: block;
	padding: .2em .5em;
	position: absolute;
	top: 1.25rem;
	transition: all 400ms ease;
	right: 1.5rem;
}

a.close:hover {
	background-color: #F95738;
	cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form textarea[type="text"] {
	padding: 10px 10px 10px 10px;
	border: 1px solid #0D3B66;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: all 400ms ease;
	width: 100%;
	display: block;
}

.signup-prompt, 
.login-prompt,
#logout,
#confirm-delete,
#confirm-forward {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	border: 1px solid #F4D35E;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: all 400ms ease;
	background-color: #F4D35E;
}

#write,
.cancel {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	border: 1px solid #EE964B;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: all 400ms ease;
	background-color: #EE964B;
}

button[type=submit] {
	padding: 10px 10px 10px 10px;
	border: 1px solid #0D3B66;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: all 400ms ease;
	width: 100%;
	display: block;
	color: #FFFFFF;
	background-color: #0D3B66;
}

form input[type="text"]:focus,
form input[type="password"]:focus, 
form textarea:focus, 
form select:focus {
	border-color: #F4D35E;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 8px #F4D35E;
}

.intro-buttons-wrapper {
	margin: auto;
	max-width: 90%;
}

#register, 
#login, 
#about { 
	height: 30px;
	width: 25%; 
	border-radius: 3px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif; 
	font-size: 14px;
	font-weight: 400;
	display: inline-block; 
}

#register {
	background-color: #F4D35E;
	border: 1px solid #F4D35E;
}

#login {
	background-color: #EE964B;
	border: 1px solid #EE964B;
}

#about {
	background-color: #0D3B66; 
	border: 1px solid #0D3B66;
	color: #FFFFFF;
}

.warning {
	color: red;
}

@media only screen and (max-width: 812px) {
	.wrapper-thirds {
		display: block;
	}
	.wrapper-thirds > .column {
	width: 100%;
	margin: 0 0 10px 0;
	}

	.form-overlay, 
	.popup-wrapper,
	.popup-content, 
	.message-card,
	button[type=submit] {
		width: 100%;
	}

	.intro-buttons-wrapper {
		width: 95%;
	}

	.message-card {
		margin: 0 0 10px 0;
	}
}