* {
	box-sizing: border-box;
}

.container {
	margin: auto;
	max-width: 80%;
	min-height: 98%;
	position: relative;
	text-align: center;
}

footer {
	bottom: 0;
	width: 100%;
	height: 60px;
	position: absolute;
	text-align: center;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	background: #43C6AC; /* fallback for old browsers */
	background: linear-gradient(-90deg, #F8FFAE, #43C6AC);
}

body { 
	padding-bottom: 60px;
}

#logo {
	font-size: 18px;
	font-weight: bold;
	padding: 14px 16px;
	display: inline-block;
}

#navbar {
	margin-bottom: 60px;
}

#navbar ul {
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

#navbar li {
	float: right;
}

#navbar li a {
	text-align: center;
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
}

.js-input { 
	padding: 10px 10px 10px 10px;
	width: 400px;
	height: 100px;
	border: 1px solid;
	border-radius: 3px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 400;
} 

button[type=submit] {
	height: 30px;
	width: 400px;
	border: 1px solid;
	border-radius: 3px;
	vertical-align: middle;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 600;
}

#restart {
	height: 30px;
	width: 400px;
	border: 1px solid;
	border-radius: 3px;
	vertical-align: middle;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 600;
}

.message-card {
	padding: 10px 10px 10px 10px;
	width: 400px;
	height: 100px;
	border: 1px solid;
	border-radius: 3px;
	background-color: #FFFFFF;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 400;
	margin: auto;
	text-align: center;
	overflow: auto;
}

@media only screen and (max-width: 640px) {

	.js-input {
		width: 90%;
	}

	button[type=submit] {
		width: 90%;
	}

	h1 {
		font-size: 22px;
	}

	.message-card {
		width: 90%;
	}

	#restart {
		width: 90%;
	}
}