* {
	box-sizing: border-box;
}

.container {
	margin: auto;
	max-width: 100%;
	position: relative;
	text-align: center;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: #FAF0CA;  
}

a {
	text-decoration: none;
	color: #0D3B66;
}

#navbar {
	margin-bottom: 60px;
}

#navbar ul {
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

#navbar li {
	float: right;
	margin-right: 3px;
}

#navbar li a {
	text-align: center;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
	color: #0D3B66;
}

.nav-items {
	font-size: 12px;
}

#logo {
	font-size: 24px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800; 
	color: #0D3B66;
	display: inline-block;
}

.intro {
	position: relative;
	height: 80vh;
	margin-top: 150px;
}

.graphic {
	max-width: 100%; 
	height: auto;
}

.intro-buttons-wrapper {
	margin: auto;
	max-width: 90%;
}

h1, h2, h3, h4 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	text-transform: lowercase;
}

h2 {
	font-family: 'Work Sans', sans-serif; 
	text-transform: uppercase; 
	color: #F95738; 
	line-height: 28px;
	border-bottom: 2px solid #0D3B66; 
}

.messages-wrapper {
	max-width: 100%;
	margin: auto;
}

.message__card > .message__content { 
	height: 150px;
	overflow: scroll; 
	text-align: justify;
	width: 70%;
	clear: right;
	display: inline-block;
	padding: 5px 5px 5px 5px; 
}

.message__card {
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #F4D35E;
	display: inline-block;
	width: 30%;
	height: 200px; 
	margin: 1%;
	padding: 10px 10px 10px 10px; 
}

.vote__counter {
	font-size: 25px;
	font-weight: 600;
	color: #0D3B66;
}

.counter--positive {
	color: #4DC14B;
}

.counter--negative {
	color: #F95738;
}

.message__options { 
	width: 100%;
	text-align: right;
}

.message__votes {
	width: 30%;
	float: left;
	clear: left;
	margin-top: 60px;
	margin-left: -10px;
}

.message__vote {
	padding: 5px 5px 5px 5px; 
	border: 0px; 
	width: 30%; 
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.message__action {
	padding: 5px 5px 5px 5px;
	border: 0px solid #F8FFAE;
	border-radius: 3px;
	font-size: 14px;
	transition: all 400ms ease;
	width: 12%;
	height: 24px; 
	display: inline-block;
	background-color: #FFFFFF;
	background-position: center; 
	background-repeat: no-repeat; 
	vertical-align: middle; 
}

.no-message-text > h1 {
	color: #F95738;
	text-transform: uppercase;
}

#upvote {
	background-image: url('./upvote.png');
}

#downvote {
	background-image: url('./downvote.png');
}

#forward {
	background-image: url('./forward.png');
}

#delete {
	background-image: url('./delete.png');
}

.popup__overlay {
	background-color: rgba(0,0,0,.25);
	bottom: 0;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	/* support for old browsers */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.popup__wrapper {
	margin: auto;
	background-color: rgba(0,0,0,.25);
	border-radius: 3px;
	padding: 6px;
	width: 50%;
}

.popup__text {
	text-align: center;
	display: inline-block;
	margin: auto;
}

.popup__text--warning {
	color: red; 
}

.popup__content {
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 24px;
	position: relative;
	margin: auto; 
	text-align: left;
}

.quote {
	display: block; 
	padding: 10px 10px 10px 10px; 
	background-color: rgb(248, 244, 230);
	border-radius: 3px;
	text-align: center;
	font-weight: 400;
	font-style: italic;
	font-family: 'Work Sans', sans-serif; 
}

.quote__attribution {
	font-size: 12px; 
	text-align: right; 
	font-style: normal; 
}

a.close {
	background-color: rgb(204,204,204);
	font-family: 'Courier New', Courier, monospace;
	border-radius: 50%;
	display: block;
	padding: .2em .5em;
	position: absolute;
	top: 1.25rem;
	transition: all 400ms ease;
	right: 1.5rem;
}

a.close:hover {
	background-color: #F95738;
	cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form textarea[type="text"] {
	padding: 10px 10px 10px 10px;
	border: 1px solid #0D3B66;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: all 400ms ease;
	width: 100%;
	display: block;
}

form input[type="text"]:focus,
form input[type="password"]:focus, 
form textarea:focus, 
form select:focus {
	border-color: #0D3B66;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 8px #0D3B66;
}

button[type=submit] {
	padding: 10px 10px 10px 10px;
	border: 1px solid #0D3B66;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: all 400ms ease;
	width: 100%;
	display: block;
	color: #FFFFFF;
	background-color: #0D3B66;
}

.button {
	display: inline-block;
	padding: 5px 5px 5px 5px; 
	border-radius: 3px;
	vertical-align: middle; 
	font-family: 'Roboto', sans-serif; 
	font-size: 14px; 
	font-weight: 400; 
	transition: all 400ms ease; 	
}

.button--size-large {
	height: 30px;
	width: 25%; 
}

.button--color-yellow {
	background-color: #F4D35E;
	border: 1px solid #F4D35E;
}

.button--color-orange {
	background-color: #EE964B;
	border: 1px solid #EE964B;
}

.button--color-blue {
	background-color: #0D3B66; 
	border: 1px solid #0D3B66;
	color: #FFFFFF;
}

@media only screen and (max-width: 812px) {

	.popup__overlay, 
	.popup__wrapper,
	.popup__content, 
	button[type=submit] {
		width: 100%;
	}

	.intro-buttons-wrapper {
		width: 95%;
	}

	.message__card {
		margin: 0 0 10px 0;
		width: 80%; 
	}

	.message__card > .message__content { 
		width: 70%;
	}
	
	.message__options { 
		width: 100%;
	}
	
	.message__votes {
		width: 25%;
	}
	
	.message__vote {
		width: 35%; 
	} 
}